---
import resume from '../data/resume.json';
---

<header class="site-header">
  <div class="site-header__inner">
    <img
      class="site-header__photo"
      src="/images/profile.jpg"
      alt="Peter Meinders"
      width="120"
      height="120"
    />
    <h1 class="site-header__name">{resume.name}</h1>
    <p class="site-header__title">{resume.title}</p>
  </div>
</header>
